* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #bfbfbf;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    display: flex;
    justify-content: center;
} 

header nav {
    margin: 10px;
    background-color: #000000;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    color: #bfbfbf;
}

header nav ul li a {
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.8vw;
    color: aliceblue;
    width: 100%;
  }

.hero {
    background-image: url('../images/portfolio-hero.jpg');
    position:relative;
    background-position: center;
    height: 300px;
}
.section-title {
    color: black;
    font-size: 40px;
    display: inline-block;
    border-bottom: 5px solid;
}
.primary-border {
    border-color: darkgreen;
}

